/* reset */
/* main variables */
body {
  margin: 0px;
  padding: 0px;
  font-family: Roboto;
  font-weight: 300;
  background-color: #FFF;
  height: 100%;
  line-height: 1;
  position: relative;
  font-size: 13px !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

/*MAIN*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset,
form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer,
header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, main {
  display: block; }

blockquote, q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-width: 0px;
  padding: 0px;
  margin: 0px; }

html {
  height: 100%;
  -webkit-text-size-adjust: none;
  -ms-text-size-adjust: none; }

input,
textarea {
  color: #333;
  font-family: Arial, sans-serif;
  outline: none;
  border-radius: 0;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  -webkit-appearance: none; }

input[type="button"],
input[type="submit"],
button {
  cursor: pointer; }

td {
  margin: 0px;
  padding: 0px; }

form {
  padding: 0px;
  margin: 0px; }

a {
  color: #100da9;
  transition: all 0.2s linear;
  text-decoration: none;
  outline: none;
  -webkit-tap-highlight-color: transparent; }

a,
span,
div,
button {
  outline: none !important; }

input[type=submit],
input[type=button],
button {
  -webkit-appearance: none;
  outline: none; }

* {
  box-sizing: border-box; }

*:before,
*:after {
  box-sizing: border-box; }

.clearfix:after,
.wrapper:after,
.row:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden; }

@font-face {
  font-family: 'Roboto';
  src: url("../fonts/Roboto-Light.woff") format("woff"), url("../fonts/Roboto-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-FFFD; }

@font-face {
  font-family: 'Roboto';
  src: url("../fonts/Roboto-Regular.woff") format("woff"), url("../fonts/Roboto-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-FFFD; }

@font-face {
  font-family: 'Roboto';
  src: url("../fonts/Roboto-Medium.woff") format("woff"), url("../fonts/Roboto-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-FFFD; }

@font-face {
  font-family: 'Roboto';
  src: url("../fonts/Roboto-Bold.woff") format("woff"), url("../fonts/Roboto-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-FFFD; }

@font-face {
  font-family: 'IconFont';
  src: url("../fonts/icomoon.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-FFFD; }

/* Slider */
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent; }

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0; }
  .slick-list:focus {
    outline: none; }
  .slick-list.dragging {
    cursor: pointer;
    cursor: hand; }

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block; }
  .slick-track:before, .slick-track:after {
    content: "";
    display: table; }
  .slick-track:after {
    clear: both; }
  .slick-loading .slick-track {
    visibility: hidden; }

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none; }
  [dir="rtl"] .slick-slide {
    float: right; }
  .slick-slide img {
    display: block; }
  .slick-slide.slick-loading img {
    display: none; }
  .slick-slide.dragging img {
    pointer-events: none; }
  .slick-initialized .slick-slide {
    display: block; }
  .slick-loading .slick-slide {
    visibility: hidden; }
  .slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent; }

.slick-arrow.slick-hidden {
  display: none; }

.main-wrapper {
  padding: 0 0 0 0;
  min-width: 320px;
  width: 100%;
  position: relative;
  overflow: hidden;
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  -ms-flex-direction: column;
  -webkit-box-pack: start;
          justify-content: flex-start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  z-index: 1; }

.wrapper {
  min-width: 320px;
  max-width: 1200px;
  padding: 0 40px 0 40px;
  margin: 0 auto;
  position: relative; }

/* titles */
p {
  font-size: 13px;
  line-height: 18px;
  color: #333;
  padding: 15px 0 15px 0;
  font-weight: 400; }

h1 {
  font-size: 36px;
  line-height: 42px;
  color: #000;
  font-family: "Open Sans", sans-serif;
  padding: 15px 0 15px 0;
  font-weight: 400; }

h2 {
  font-size: 32px;
  line-height: 37px;
  color: #000;
  font-family: "Open Sans", sans-serif;
  padding: 15px 0 15px 0;
  font-weight: 400; }

h3 {
  font-size: 28px;
  line-height: 32px;
  color: #000;
  font-family: "Open Sans", sans-serif;
  padding: 15px 0 15px 0;
  font-weight: 400; }

/* text position */
.text-left {
  text-align: left !important; }

.text-center {
  text-align: center !important; }

.text-right {
  text-align: right !important; }

.nowrap {
  white-space: nowrap !important; }

/* loader */
.loaded .main-wrapper {
  visibility: hidden; }

.icon-load {
  background: url(../img/loader.gif) no-repeat left top;
  width: 40px;
  height: 40px;
  position: fixed;
  left: 50%;
  top: 50%;
  margin-left: -20px;
  margin-left: -20px;
  display: none; }

.loaded .icon-load {
  display: block; }

/*
================================================================================
|                                     CONTENT                                 |
================================================================================
*/
.content {
  min-width: 320px;
  text-align: left;
  width: 100%;
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  -webkit-order: 2;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-flex-grow: 1; }
  .content__wrapper {
    max-width: 1920px;
    margin: 0 auto;
    padding: 0 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    @media screen and (max-width: 1310px) {
      .content__wrapper {
        padding: 0 20px; } }
    .content__wrapper:after {
      display: none; }
    @media screen and (max-width: 768px) {
      .content__wrapper {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        margin-bottom: 30px; } }
  .content__left-side, .content__right-side {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 48%;
            flex: 0 0 48%; }
    @media screen and (max-width: 768px) {
      .content__left-side, .content__right-side {
        -webkit-box-flex: 0;
            -ms-flex: 0 0 100%;
                flex: 0 0 100%; } }
  @media screen and (max-width: 768px) {
    .content__left-side {
      margin: 0 0 20px; } }

/*
================================================================================
|                                     HEADER                                   |
================================================================================
*/
header {
  width: 100%;
  height: 80px;
  min-width: 320px;
  text-align: left;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  -webkit-order: 1; }

.header {
  margin-bottom: 41px;
  height: auto; }
  .header__wrapper {
    max-width: 1920px;
    margin: 0 auto;
    padding: 0 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-top: 20px;
    position: relative; }
    @media screen and (max-width: 1310px) {
      .header__wrapper {
        padding: 0 20px; } }
    .header__wrapper:after {
      display: none; }
    @media screen and (max-width: 1310px) {
      .header__wrapper {
        padding-top: 20px; } }
  .header__logo {
    background: url(../img/logo.png) no-repeat;
    width: 206px;
    height: 49px;
    display: block;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    margin-right: 57px;
    -ms-flex-preferred-size: 206px;
        flex-basis: 206px; }
    @media screen and (max-width: 1310px) {
      .header__logo {
        margin-right: 10px; } }
  .header__hamburger {
    position: relative;
    background: none;
    border: 0;
    width: 30px;
    height: 30px;
    display: none; }
    .header__hamburger:before {
      content: "\e929";
      font-family: IconFont;
      position: absolute;
      top: 0;
      left: 0;
      width: 30px;
      height: 30px;
      font-size: 24px; }
    @media screen and (max-width: 1015px) {
      .header__hamburger {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex; } }
  .header__nav-holder {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 80%;
            flex: 0 0 80%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    @media screen and (max-width: 1015px) {
      .header__nav-holder {
        display: none;
        background: #fff;
        position: absolute;
        top: 0;
        left: 0;
        -webkit-transform: translateY(30%);
                transform: translateY(30%);
        width: 100%;
        z-index: 3; } }
    .header__nav-holder_active {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      border: 1px solid #b7b6b4;
      border-radius: 5px;
      margin: 0 10px;
      padding: 0 10px;
      width: 90%;
      z-index: 101; }
      @media screen and (max-width: 768px) {
        .header__nav-holder_active {
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
              -ms-flex-direction: column;
                  flex-direction: column; } }
  .header__inner-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    @media screen and (max-width: 768px) {
      .header__inner-wrapper {
        -webkit-box-ordinal-group: 1;
            -ms-flex-order: 0;
                order: 0;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: start;
            -ms-flex-align: start;
                align-items: flex-start; } }

/*
================================================================================
|                                     FOOTER                                   |
================================================================================
*/
footer {
  height: 80px;
  text-align: left;
  width: 100%;
  min-width: 320px;
  -webkit-box-ordinal-group: 4;
      -ms-flex-order: 3;
          order: 3;
  -webkit-order: 3; }

.footer {
  height: auto;
  padding-bottom: 26px; }
  .footer__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    max-width: 1920px;
    margin: 0 auto;
    padding: 0 40px; }
    @media screen and (max-width: 1310px) {
      .footer__wrapper {
        padding: 0 20px; } }
    .footer__wrapper:after {
      display: none; }
    @media screen and (max-width: 768px) {
      .footer__wrapper {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center; } }
  .footer__phone {
    font-size: 18px;
    color: #333;
    position: relative;
    padding-left: 40px;
    margin-right: 36px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    white-space: nowrap; }
    @media screen and (max-width: 768px) {
      .footer__phone {
        margin-bottom: 20px;
        height: 30px; } }
    .footer__phone_bold {
      font-weight: 500; }
    .footer__phone:before {
      content: "\e926";
      font-family: IconFont;
      color: #333;
      position: absolute;
      left: 6px;
      top: 7px; }
    .footer__phone:after {
      content: '';
      position: absolute;
      left: 0;
      top: 1px;
      width: 30px;
      height: 30px;
      border-radius: 50%;
      border: 1px solid #333; }
  .footer__phone-social-holder {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    @media screen and (max-width: 768px) {
      .footer__phone-social-holder {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center; } }

.background-slider-wrapper {
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: 0;
  top: 0;
  left: 0; }

.background-slider__slide {
  position: relative; }

.background-slider__filter {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.85); }

.background-slider__image {
  background: url(../img/main-bg.jpg) no-repeat 50% 50%;
  background-size: cover;
  width: 100vw;
  height: 100vh; }

.navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  @media screen and (max-width: 1310px) {
    .navigation {
      margin-left: 0; } }
  @media screen and (max-width: 768px) {
    .navigation {
      -webkit-box-ordinal-group: 2;
          -ms-flex-order: 1;
              order: 1; } }
  .navigation__list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    @media screen and (max-width: 1015px) {
      .navigation__list {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        padding-top: 30px; } }
  .navigation__item {
    margin-right: 29px; }
    .navigation__item:last-child {
      margin-right: 0; }
    @media screen and (max-width: 1310px) {
      .navigation__item {
        margin-right: 2%; } }
    @media screen and (max-width: 1015px) {
      .navigation__item {
        margin-bottom: 15px; } }
  .navigation__link {
    color: #333;
    font-size: 18px;
    white-space: nowrap; }
    .navigation__link:hover {
      text-decoration: underline; }
    @media screen and (max-width: 1310px) {
      .navigation__link {
        font-size: 16px; } }

.language-switch {
  margin-right: 43px; }
  @media screen and (max-width: 1310px) {
    .language-switch {
      margin-right: 15px; } }
  .language-switch__list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .language-switch__link {
    color: #333;
    font-size: 14px;
    padding: 7px 5px;
    display: block; }
    .language-switch__link:hover {
      box-shadow: inset 0 0 0 1px #b7b6b4; }
  .language-switch .active {
    box-shadow: inset 0 0 0 1px #b7b6b4; }

.navigation-special {
  margin-right: 3px; }
  .navigation-special__list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    @media screen and (max-width: 1015px) {
      .navigation-special__list {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: end;
            -ms-flex-align: end;
                align-items: flex-end; } }
    @media screen and (max-width: 768px) {
      .navigation-special__list {
        -webkit-box-align: start;
            -ms-flex-align: start;
                align-items: flex-start; } }
  .navigation-special__link {
    font-size: 14px;
    color: #333; }
    .navigation-special__link:hover {
      text-decoration: underline; }
  .navigation-special__item {
    margin-right: 16px; }
    .navigation-special__item:last-child {
      margin-right: 0; }
    @media screen and (max-width: 1310px) {
      .navigation-special__item {
        margin-right: 6px; } }
    @media screen and (max-width: 1015px) {
      .navigation-special__item {
        margin: 0 0 15px; } }

.main-article p {
  font-size: 14px;
  line-height: 20px;
  color: #333;
  letter-spacing: 0.5px;
  padding: 0;
  margin: 0 0 21px; }
  .main-article p:last-child {
    margin-bottom: 10px; }

.main-article a {
  font-weight: 500;
  color: #333; }

.main-article h2 {
  font-weight: 500;
  font-size: 16px;
  padding: 5px 0 0;
  letter-spacing: -0.3px;
  margin-bottom: 11px;
  line-height: 18px; }

.main-article__phone {
  white-space: nowrap; }

.vacate-rooms {
  list-style: none;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
  @media screen and (max-width: 1015px) {
    .vacate-rooms {
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between; } }
  .vacate-rooms__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 30%;
            flex: 0 0 30%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0 20px 22px 0; }
    .vacate-rooms__item:nth-child(3n) {
      margin: 0 0 22px; }
    @media screen and (max-width: 1015px) {
      .vacate-rooms__item {
        -webkit-box-flex: 0;
            -ms-flex: 0 0 30%;
                flex: 0 0 30%;
        margin: 0 0 22px; } }
    @media screen and (max-width: 550px) {
      .vacate-rooms__item {
        -webkit-box-flex: 0;
            -ms-flex: 0 0 47%;
                flex: 0 0 47%; } }
    .vacate-rooms__item img {
      width: 100%;
      height: auto;
      display: block;
      margin: 0 0 14px; }
  .vacate-rooms__room-size {
    position: relative;
    padding-left: 44px; }
    .vacate-rooms__room-size:before {
      content: "\e923";
      font-family: IconFont;
      color: #333;
      position: absolute;
      top: -5px;
      left: 0;
      font-size: 23px; }
    .vacate-rooms__room-size:after {
      content: "-\e924";
      font-family: IconFont;
      color: #333;
      position: absolute;
      top: -5px;
      left: 12px;
      font-size: 23px; }

.booking-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 4px;
  max-width: 100%; }
  @media screen and (max-width: 768px) {
    .booking-form {
      max-width: 100%; } }
  .booking-form__label {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-item-align: start;
        align-self: flex-start;
    margin-bottom: 17px; }
  .booking-form__title {
    width: 112px;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 112px;
            flex: 0 0 112px;
    font-size: 16px;
    font-weight: 500;
    color: #333; }
  .booking-form .form-control {
    border: 1px solid #9d9d9d;
    background-color: white;
    height: 36px;
    padding: 0 10px; }
    .booking-form .form-control_text-input {
      -webkit-box-flex: 1;
          -ms-flex: 1 1 20%;
              flex: 1 1 20%; }
    .booking-form .form-control_date-input {
      position: relative;
      width: 128px; }
      @media screen and (max-width: 1310px) {
        .booking-form .form-control_date-input {
          width: 100%; } }
  .booking-form .date-input {
    position: relative;
    margin-right: 42px; }
    @media screen and (max-width: 1310px) {
      .booking-form .date-input {
        width: 100%; } }
    .booking-form .date-input:last-child .booking-form__title {
      width: auto;
      -webkit-box-flex: 1;
          -ms-flex: 1 1 auto;
              flex: 1 1 auto;
      margin-right: 27px; }
      @media screen and (max-width: 1310px) {
        .booking-form .date-input:last-child .booking-form__title {
          width: 112px;
          -webkit-box-flex: 0;
              -ms-flex: 0 0 112px;
                  flex: 0 0 112px;
          margin-right: 0; } }
    .booking-form .date-input:before {
      content: "\e91d";
      color: #545454;
      font-family: IconFont;
      right: 3px;
      top: 50%;
      -webkit-transform: translateY(-50%);
              transform: translateY(-50%);
      position: absolute;
      z-index: 2;
      font-size: 26px; }
  .booking-form .text-input {
    width: 100%;
    margin-top: 3px; }
    .booking-form .text-input:last-child {
      margin-bottom: 20px; }
  .booking-form__small-label-holder {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    @media screen and (max-width: 1310px) {
      .booking-form__small-label-holder {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column; } }
  .booking-form .jq-selectbox__dropdown {
    width: 100%; }
  .booking-form .jq-selectbox ul {
    background: #fff;
    border: 1px solid #9d9d9d; }
  .booking-form .jq-selectbox__trigger {
    position: absolute;
    right: 16px;
    top: 34%; }
  .booking-form .jq-selectbox__trigger-arrow {
    position: relative; }
    .booking-form .jq-selectbox__trigger-arrow:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      border-bottom: 1px #333 solid;
      border-right: 1px #333 solid;
      width: 8px;
      height: 8px;
      -webkit-transform: rotate(45deg);
              transform: rotate(45deg); }
      @media screen and (max-width: 1310px) {
        .booking-form .jq-selectbox__trigger-arrow:before {
          left: 2px; } }
  .booking-form .jq-selectbox li {
    padding: 15px 10px 15px 80px; }
  .booking-form .jq-selectbox .people3,
  .booking-form .jq-selectbox.people3 .jq-selectbox__select {
    position: relative; }
    .booking-form .jq-selectbox .people3:before,
    .booking-form .jq-selectbox.people3 .jq-selectbox__select:before {
      content: "\e923";
      font-family: IconFont;
      color: #333;
      position: absolute;
      top: 6px;
      left: 6px;
      font-size: 31px;
      z-index: 3; }
    .booking-form .jq-selectbox .people3:after,
    .booking-form .jq-selectbox.people3 .jq-selectbox__select:after {
      content: "-\e924";
      font-family: IconFont;
      color: #333;
      position: absolute;
      top: 5px;
      left: 21px;
      font-size: 31px; }
  .booking-form .jq-selectbox .people4,
  .booking-form .jq-selectbox.people4 .jq-selectbox__select {
    position: relative; }
    .booking-form .jq-selectbox .people4:before,
    .booking-form .jq-selectbox.people4 .jq-selectbox__select:before {
      content: "\e923";
      font-family: IconFont;
      color: #333;
      position: absolute;
      top: 6px;
      left: 6px;
      font-size: 31px;
      z-index: 3; }
    .booking-form .jq-selectbox .people4:after,
    .booking-form .jq-selectbox.people4 .jq-selectbox__select:after {
      content: "-\e925";
      font-family: IconFont;
      color: #333;
      position: absolute;
      top: 5px;
      left: 21px;
      font-size: 31px; }
  .booking-form .jq-selectbox__select {
    width: 210px;
    height: 45px;
    padding-left: 8px;
    padding-right: 9px;
    background: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border: 1px solid #9d9d9d; }
    @media screen and (max-width: 1310px) {
      .booking-form .jq-selectbox__select {
        width: 185px; } }
  .booking-form .number-of-people {
    margin-right: 28px; }
    .booking-form .number-of-people:last-child .booking-form__title {
      width: auto;
      -webkit-box-flex: 1;
          -ms-flex: 1 1 auto;
              flex: 1 1 auto;
      margin-right: 21px; }
      @media screen and (max-width: 1310px) {
        .booking-form .number-of-people:last-child .booking-form__title {
          width: 112px;
          -webkit-box-flex: 0;
              -ms-flex: 0 0 112px;
                  flex: 0 0 112px;
          margin-right: 0; } }
    .booking-form .number-of-people .jq-selectbox__select {
      height: 34px;
      width: 61px; }
    .booking-form .number-of-people .jq-selectbox li {
      padding: 15px; }
  .booking-form__result {
    margin-bottom: 19px; }
  .booking-form__summ {
    font-size: 24px;
    font-weight: 500;
    letter-spacing: -0.3px; }
  .booking-form__submit {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 18px;
    color: #fff;
    padding: 16px 40px;
    -ms-flex-item-align: start;
        align-self: flex-start;
    border: 0;
    background: #642121;
    transition: 0.2s; }
    .booking-form__submit:hover {
      background: red;
      transition: 0.2s; }

.additional-services {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 43px 0 51px; }
  .additional-services .booking-form__title {
    width: 100%;
    -webkit-box-flex: 0;
        -ms-flex: 0 1 auto;
            flex: 0 1 auto;
    text-transform: uppercase;
    margin-bottom: 30px; }
  .additional-services__list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: -13px; }
    @media screen and (max-width: 1310px) {
      .additional-services__list {
        -ms-flex-wrap: wrap;
            flex-wrap: wrap; } }
  .additional-services__label {
    cursor: pointer; }
  .additional-services__text {
    position: relative;
    font-size: 16px;
    font-weight: 500;
    color: #333;
    padding: 5px 10px 7px 30px;
    white-space: nowrap;
    text-transform: lowercase; }
    .additional-services__text:before {
      content: '';
      width: 9px;
      height: 9px;
      border-radius: 50%;
      border: 2px solid #9b9b9b;
      top: 50%;
      left: 14px;
      position: absolute;
      -webkit-transform: translateY(-50%);
              transform: translateY(-50%);
      font-size: 11px; }
  .additional-services__item {
    margin-right: 4px; }
    @media screen and (max-width: 1310px) {
      .additional-services__item {
        margin: 10px; } }
  .additional-services__checkbox {
    display: none; }
  .additional-services__checkbox:checked ~ .additional-services__text {
    background: #a44d47;
    color: #fff; }
    .additional-services__checkbox:checked ~ .additional-services__text:before {
      content: "\e91c";
      font-family: IconFont;
      color: #fff;
      border: 0;
      width: auto;
      height: auto;
      left: 11px; }

.about-us {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 9px 6px 0 0;
  list-style: none;
  margin: 0;
  padding: 0; }
  @media screen and (max-width: 768px) {
    .about-us {
      margin-top: 15px; } }
  .about-us__item {
    margin-left: 15px; }
  .about-us__link {
    font-size: 14px;
    font-weight: 300;
    color: #333; }

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0; }
  .social__item {
    margin-right: 10px; }
    .social__item:last-child {
      margin-right: 0; }
  .social__link {
    width: 32px;
    height: 32px;
    border: 1px solid #333;
    position: relative;
    font-size: 0;
    display: block;
    transition: 0.2s; }
    .social__link_facbook:before, .social__link_VK:before, .social__link_instagram:before {
      content: "\e91e";
      position: absolute;
      font-family: IconFont;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
              transform: translate(-50%, -50%);
      color: #333;
      font-size: 16px; }
    .social__link_VK:before {
      content: "\e927";
      font-size: 14px; }
    .social__link_instagram:before {
      content: "\e922"; }
    .social__link:hover {
      background: #fff;
      transition: 0.2s; }
