.booking-form {
    display: flex;
    flex-direction: column;
    &__label {
        display: flex;
    }
    &__title {
        width: 100px;
        flex: 0 0 100px;
    }
    &__text-input {
        flex: 1 1 90%;
        border: 1px solid rgb(157, 157, 157);
        background-color: rgb(255, 255, 255);
    }
    &__date-input {
        border: 1px solid rgb(157, 157, 157);
        background-color: rgb(255, 255, 255);
    }
}