
/*
================================================================================
|                                     HEADER                                   |
================================================================================
*/
header{

	width:100%; height: 80px;
	min-width: $min-width;
	text-align:left;	
	order: 1;	
    -webkit-order: 1;	
}

.header {
	&__wrapper {
		@include wrapper-pref;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	&__logo {
		background: url(../img/logo.png) no-repeat;
		width: 206px;
		height: 49px;
		display: block;
	}
	&__inner-wrapper {
		display: flex;
		align-items: center;
	}

}

@media screen and (max-width: 1200px) {
	
}

@media screen and (min-width: 992px){
	
}

@media screen and (max-width: 991px) {
	
}

@media screen and (min-width: 768px) and (max-width: 991px) {
	
}

@media screen and (max-width: 767px) {
	
}
