.navigation {
    display: flex;
    align-items: center;
    @include width-1310 {
        margin-left: 0;
    }
    @include width-768 {
        order: 1;
    }
    &__list {
        @include reset-list;
        display: flex;
        @include width-1015 {
            flex-direction: column;
            padding-top: 30px;

        }
    }
    &__item {
        margin-right: 29px;
        &:last-child {
            margin-right: 0;
        }
        @include width-1310 {
            margin-right: 2%;
        }
        @include width-1015 {
            margin-bottom: 15px;
        }
    }
    &__link {
        color: $text-color;
        font-size: 18px;
        white-space: nowrap;
        &:hover {
            text-decoration: underline;
        }
        @include width-1310 {
            font-size: 16px;
        }
    }
}