.navigation-special {
    margin-right: 3px;
    &__list {
        @include reset-list;
        display: flex;
        @include width-1015 {
            flex-direction: column;
            align-items: flex-end;
        }
        @include width-768 {
            align-items: flex-start;
        }
    }
    &__link {
        font-size: 14px;
        color: $text-color;
        &:hover {
            text-decoration: underline;
        }
    }
    &__item {
        margin-right: 16px;
        &:last-child {
            margin-right: 0;
        }
        @include width-1310 {
            margin-right: 6px;
        }
        @include width-1015 {
            margin: 0 0 15px;
        }

    }
}