.vacate-rooms {
    @include reset-list;
    display: flex;
    flex-wrap: wrap;
    @include width-1015 {
        justify-content: space-between;
    }
    &__item {
        flex: 0 0 30%;
        display: flex;
        flex-direction: column;
        margin: 0 20px 22px 0;
        &:nth-child(3n) {
            margin: 0 0 22px;
        }
        @include width-1015 {
            flex: 0 0 30%;
            margin: 0 0 22px;
        }
        @include width-550 {
            flex: 0 0 47%;
        }
        img {
            width: 100%;
            height: auto;
            display: block;
            margin: 0 0 14px;
            @include width-1015 {

            }
        }
    }
    &__link {


    }
    &__room-size {
        position: relative;
        padding-left: 44px;
        &:before {
            content: "\e923";
            font-family: IconFont;
            color: $text-color;
            position: absolute;
            top: -5px;
            left: 0;
            font-size: 23px;
        }
        &:after {
            content: "-\e924";
            font-family: IconFont;
            color: $text-color;
            position: absolute;
            top: -5px;
            left: 12px;
            font-size: 23px;
        }
    }
}